{% extends "base.html" %}

{% block active_item %}index{% endblock %}
{% block menu %}{% include "includes/menu.html" with active_tab='main' %}{% endblock %}
{% block title %}Книги, которые я прочитал{% endblock %}
{% block action %}Книги, которые <a href="/">я</a> прочитал{% endblock %}

{% block content %}
<div class="books cf">
	{% for book in object_list %} 
		<div class="books-one {% if book.favorite %}books-fav{% endif %}" data-id="{{book.id}}">
			<div class="books-pic" style="background-image:url('{{ MEDIA_URL }}{{book.book_pic}}')"></div>
			<div class="books-additional">
				<div class="books-title">{{book.title}}</div>
				<div class="books-author">{{book.author}}</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}